<template>
	<div class="flex flex-col">
		<!-- filters -->
		<div class="flex">
			<div class="flex flex-col mr-2">
				<label class="title-4 pl-1">Fecha inicio</label>
				<input type="date" class="input-md w-32" v-model="paramsCalendar.date_first"/>
			</div>
			<div class="flex flex-col mr-2">
				<label class="title-4 pl-1">Fecha fin</label>
				<input type="date" class="input-md w-32" v-model="paramsCalendar.date_second"/>
			</div>
			<div class="flex flex-col mr-2">
				<label class="title-4 pl-1">Rutas</label>
				<select class="input-md" v-model="paramsCalendar.route_id">
					<option value="">--Sin ruta--</option>
					<option v-for="(item, index) in listRoutes" :key="index" :value="item.id">{{item.title}}</option>
				</select>
			</div>
			<div class="flex flex-col mr-2 justify-end">
				<button class="btn2-primary btn-md px-4" type="button" @click="searchCalendar">Buscar</button>
			</div>
		</div>

		<div class="h-5"></div>

		<!-- calendario -->
		<div class="modal:col bg-white rounded-2xl">
			<div>
				<h1 class="title-1-bold p-3">{{ columnMonth[selectedMonth]}}</h1>
			</div>
			<div class="modal:row border-b border-gray-300">
				<div class="modal:col-flex title-4-bold text-black" v-for="item in columnWeek" :key="item">
				{{item}}
				</div>
			</div>
			<div class="modal:row">
				<div class="modal:col-flex" v-for="(item, index) in listCalendar.calendar" :key="index" @click="selectDayCalendar(index)">
					<div class="text-lg py-4 rounded-2xl hover:bg-gray-400 hover:text-gray-800"
					:class="[
						item.tipo_mes == 0 || item.tipo_mes == 2 ? 'opacity-50' : 'opacity-100',
						item.day_disabled==true? 'bg-yellow-200 text-gray-800':
						item.day_reservated != null ? 'bg-green-500 text-white':
						item.day_service != null ? 'bg-white text-gray-900 font-bold border border-gray-400':
						(index+1) % 7 == 1 && listCalendar.frequencies[0].mon == 0? 'bg-red-700 text-white':
						(index+1) % 7 == 2 && listCalendar.frequencies[0].tue == 0? 'bg-red-700 text-white':
						(index+1) % 7 == 3 && listCalendar.frequencies[0].wed == 0? 'bg-red-700 text-white':
						(index+1) % 7 == 4 && listCalendar.frequencies[0].thu == 0? 'bg-red-700 text-white':
						(index+1) % 7 == 5 && listCalendar.frequencies[0].fri == 0? 'bg-red-700 text-white':
						(index+1) % 7 == 6 && listCalendar.frequencies[0].sat == 0? 'bg-red-700 text-white':
						(index+1) % 7 == 0 && listCalendar.frequencies[0].sun == 0? 'bg-red-700 text-white':
						'text-black'
					]"
					@click="modelCalendar=item">{{item.dia}}</div>
				</div>
			</div>
		</div>

		<div class="h-5"></div>

		<!-- detaills -->
		<div v-if="modelCalendar!=null" class="flex flex-col bg-white rounded-2xl p-5">
			<h1 class="title-3-bold mb-3">Detalle del dia</h1>
			<h1 class="title-4"><strong>Fecha: </strong>{{ modelCalendar.fecha}}</h1>
			<h1 class="title-4"><strong>Dia deshabilitado por el calendario: </strong>{{ modelCalendar.day_disabled == true?'Si':'No' }}</h1>
			<h1 class="title-4"><strong>Reservado: </strong>{{ modelCalendar.day_reservated != null ? 'Si - (' + modelCalendar.day_reservated.route.title + " para el usuario:" + modelCalendar.day_reservated.user_plan.user_id +" )" : 'No' }}</h1>
			<h1 class="title-4"><strong>Servicio: </strong>{{ modelCalendar.day_service != null ? 'Si - (' + modelCalendar.day_service.name + ")" : 'No' }}</h1>
			<h1 v-if="modelCalendar.day_service != null" class="title-4 ml-5"><strong>Llegada: </strong>{{ modelCalendar.day_service.arrival_timestamp + ' - ' + modelCalendar.day_service.arrival_address }}</h1>
			<h1 v-if="modelCalendar.day_service != null" class="title-4 ml-5"><strong>Salida: </strong>{{ modelCalendar.day_service.departure_timestamp + ' - ' + modelCalendar.day_service.departure_address }}</h1>
		</div>
		<!-- <pre>{{ listCalendar.calendar }}</pre> -->
	</div>
</template>

<script setup>
import { getRoute } from '@/services/route.api.js';
import { getCalendar } from '@/services/calendar.api.js';
import Idialog from '@/composables/IdialogV2.js';
import { ref, onMounted, computed } from "vue";
import moment from '@/composables/moment.js';
import utils from '@/composables/utils.js';

onMounted(async () => {
	await loadRoute();
});


const columnWeek = ["lun", "Mar", "Mie", "Jue", "Vie", "Sab", "Dom"];
const columnMonth = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
const selectedMonth = ref(0);
//VARIABLES Y FUNCIONES DE RUTAS
const listRoutes = ref([]);
const paramsRoutes = ref({});
async function loadRoute() {
	Idialog.loadingToast.show({ title: "Cargando registros, espere porfavor..." });
	try {
		let response = await getRoute(paramsRoutes.value);
		listRoutes.value = response.data;
		Idialog.loadingToast.clear();
	} catch (error) {
		//limpiamos el dialogo de carga
		Idialog.loadingToast.clear();
		Idialog.toast.show({ color: "error", title: `Fallo de petición <br> ${utils.parseErrorHttp(error)}` });
	}
}

//VARIABLES Y FUNCIONES DE CALENDARIO
const listCalendar = ref([]);
const paramsCalendar = ref({
	date_first: moment.getDate(),
	date_second: null,
	route_id: null
});
const modelCalendar = ref(null);
async function searchCalendar() {

	let returnDate = paramsCalendar.value.date_first.split("-");
	selectedMonth.value = returnDate[1] - 1;


	//verificamos que exista una ruta seleccionada
	if (utils.isEmpty(paramsCalendar.value.date_first)) {
		Idialog.toast.show({ color: "error", title: `Debe selecionar al menos una fecha de inicio` });
		return;
	}
	if (!utils.isNumber(paramsCalendar.value.route_id)) {
		Idialog.toast.show({ color: "error", title: `Debe selecionar una ruta` });
		return;
	}

	Idialog.loadingToast.show({ title: "Cargando registros, espere porfavor..." });
	try {
		let response = await getCalendar(paramsCalendar.value);
		listCalendar.value = response.data;
		Idialog.loadingToast.clear();
	} catch (error) {
		//limpiamos el dialogo de carga
		Idialog.loadingToast.clear();
		Idialog.toast.show({ color: "error", title: `Fallo de petición <br> ${utils.parseErrorHttp(error)}` });
	}
}
</script>

<style scoped>
.modal\:col {
	display: flex;
	flex: 0 1 auto;
	flex-flow: column wrap;
	width: 100%;
}
.modal\:row {
	display: flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
	width: 100%;
}

.modal\:col-flex {
	max-width: 14.2857%;
	flex-basis: 14.2857%;
	text-align: center;
	color: rgb(174, 174, 174);
	padding: 2px 3px 2px 3px;
}
</style>
