<template>
	<div class="w-full h-screen flex flex-col justify-center items-center px-2 sm:p-0">
		<toolBar/>
		<div class="relative w-full sm:w-80%  h-full">
			<div class="scroll-vertical pb-12">
				<router-view />
			</div>
		</div>
	</div>
</template>

<script setup>
import toolBar from "./toolBar.vue"
</script>
