<template>
	<div class="flex w-full sm:w-80%  py-4 items-center">
		<h1 class="title-1-bold flex-1">Chedules</h1>
		<div class="input-sm h-9 w-fit flex">
			<input type="text" class="h-full border-0 focus:ring-transparent focus:border-transparent">
			<md-icon icon="magnify" class="title-2" />
		</div>
		<md-icon icon="bell-outline" class="title-2-bold" />
	</div>
</template>

<script setup>
import { defineProps, defineEmits, ref } from "vue";
import Idialog from '@/composables/IdialogV2.js';

</script>

<style>

</style>
