.alert-primary{
  @apply rounded-sm bg-primary bg-opacity-30 px-4 py-2 text-primary border-l-8 border-primary;
}
.alert-secondary{
  @apply rounded-sm bg-secondary bg-opacity-30 px-4 py-2 text-secondary border-l-8 border-secondary;
}
.alert-accent{
  @apply rounded-sm bg-accent bg-opacity-30 px-4 py-2 text-accent border-l-8 border-accent;
}
.alert-error{
  @apply rounded-sm bg-error bg-opacity-30 px-4 py-2 text-error border-l-8 border-error;
}
.alert-info{
  @apply rounded-sm bg-info bg-opacity-30 px-4 py-2 text-info border-l-8 border-info;
}
.alert-warning{
  @apply rounded-sm bg-warning bg-opacity-30 px-4 py-2 text-warning border-l-8 border-warning;
}
.alert-success{
  @apply rounded-sm bg-success bg-opacity-30 px-4 py-2 text-success border-l-8 border-success;
}
