
.fade-in {
   animation: fadein 1s;
}
.fade-in-left {
   animation: fadeInLeft 0.8s;
}
.fade-in-up {
   animation: fadeInUp 0.6s;
}
.fade-in-down {
   animation: fadeInDown 0.6s;
}
.fade-in-right {
   animation: fadeInRight 0.8s;
}
@keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes fadeInDown {
   from {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
   }
   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}
@keyframes fadeInUp {
   from {
      opacity: 0;
      transform: translate3d(0, +120%, 0);
   }
   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}
@keyframes fadeInLeft {
   from {
      opacity: 0;
      transform: translate3d(-20%, 0, 0);
   }
   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}
@keyframes fadeInRight {
   from {
      opacity: 0;
      transform: translate3d(+120%, 0, 0);
   }
   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}
