.btn{
  /* @apply rounded-lg no-underline  px-2 py-1 text-base; */
  @apply rounded-md border font-medium bg-white w-auto inline-flex items-center justify-center hover:text-white;
}
.btn-sm{
  @apply px-2 py-1 text-sm;
}
.btn-md{
  @apply px-2 py-1.5 text-base;
}
.btn-lg{
  @apply px-2 py-2.5 text-lg;
}

.btn-primary{
  @apply btn text-primary border-primary hover:bg-primary ;
}
.btn-secondary{
  @apply btn text-tertiary border-tertiary hover:bg-tertiary;
}
.btn-tertiary{
  @apply btn text-tertiary border-tertiary hover:bg-tertiary;
}
.btn-accent{
  @apply btn text-accent border-accent hover:bg-accent;
}
.btn-error{
  @apply btn text-error border-error hover:bg-error;
}
.btn-info{
  @apply btn text-info border-info hover:bg-info;
}
.btn-warning{
  @apply btn text-warning border-warning hover:bg-warning;
}
.btn-success{
  @apply btn text-success border-success hover:bg-success;
}

.btn2{
  @apply rounded-md border font-medium  w-auto inline-flex items-center justify-center hover:bg-opacity-90 hover:text-opacity-80 hover:shadow-lg shadow-md disabled:opacity-75 disabled:cursor-not-allowed;
}

.btn2-primary{
  @apply btn2 border-primary bg-primary  text-white;
}
.btn2-secondary{
  @apply btn2 border-secondary bg-secondary text-white;
}
.btn2-accent{
  @apply btn2 border-accent bg-accent text-white;
}
.btn2-error{
  @apply btn2 border-error bg-error text-white;
}
.btn2-info{
  @apply btn2 border-info bg-info text-white;
}
.btn2-warning{
  @apply btn2 border-warning bg-warning text-white;
}
.btn2-success{
  @apply btn2 border-success bg-success text-white;
}
.btn2-white{
  @apply btn2 border-gray-200 bg-white text-gray-700;
}
.btn2-default {
	@apply btn2 border-gray-200 bg-gray-300 text-gray-600;
}
