.txt-title {
	@apply block text-2xl font-medium text-gray-800 font-bold;
}

.txt-sub-title {
	@apply block text-lg font-medium text-gray-800 font-semibold;
}

.txt-content {
	@apply block text-base font-medium text-gray-700;
}

.txt-sub-content {
	@apply block text-xs font-medium text-gray-600;
}

.title-1 {
	@apply block text-2xl text-gray-600;
}

.title-2 {
	@apply block text-lg text-gray-600;
}

.title-3 {
	@apply block text-base text-gray-600;
}

.title-4 {
	@apply block text-sm text-gray-600;
}

.title-5 {
	@apply block text-xs text-gray-600;
}

.title-1-bold {
	@apply block text-2xl text-gray-700 font-bold;
}

.title-2-bold {
	@apply block text-lg text-gray-700 font-bold;
}

.title-3-bold {
	@apply block text-base text-gray-700 font-bold;
}

.title-4-bold {
	@apply block text-sm text-gray-600 font-bold;
}

.title-5-bold {
	@apply block text-xs text-gray-500 font-bold;
}


.label {
	@apply block text-base font-semibold text-gray-700;
}

.badge-base {
	@apply px-1.5 py-1 text-xs font-semibold uppercase tracking-wider bg-opacity-25 rounded-md font-bold;
}

.badge-primary {
	@apply badge-base text-primary bg-primary;
}

.badge-secondary {
	@apply badge-base text-secondary bg-secondary;
}

.badge-accent {
	@apply badge-base text-accent bg-accent;
}

.badge-error {
	@apply badge-base text-error bg-error;
}

.badge-info {
	@apply badge-base text-info bg-info;
}

.badge-success {
	@apply badge-base text-success bg-success;
}

.badge-warning {
	@apply badge-base text-warning bg-warning;
}

.badge-default {
	@apply badge-base text-gray-600 bg-gray-600;
}


.input-base{
	@apply rounded-2xl block w-full text-gray-900 bg-white border border-gray-200 focus:ring-blue-500 focus:border-blue-500 disabled:opacity-75 disabled:bg-gray-100 disabled:cursor-not-allowed;
}
.input-sm {
	@apply input-base p-1 text-sm;
}

.input-md {
	@apply input-base text-base p-1;
}

.input-lg {
	@apply input-base text-2xl p-1 h-11 ;
}

textarea.input-lg {
	@apply h-auto;
}
