.row {
   @apply flex flex-initial flex-wrap flex-row;
}
.col {
  @apply flex flex-initial flex-wrap flex-col;
}
/* .col, */
[class^='col-'],
[class^='sm\:col-'],
[class^='md\:col-'],
[class^='lg\:col-'] {
   @apply box-border flex-auto flex-grow-0 flex-shrink ;
}
.col-1 {
   max-width: 8.33333%;
   flex-basis: 8.33333%;
}
.col-2 {
   max-width: 16.66667%;
   flex-basis: 16.66667%;
}
.col-3 {
   max-width: 25%;
   flex-basis: 25%;
}
.col-4 {
   max-width: 33.33333%;
   flex-basis: 33.33333%;
}
.col-5 {
   max-width: 41.66667%;
   flex-basis: 41.66667%;
}
.col-6 {
   max-width: 50%;
   flex-basis: 50%;
}
.col-7 {
   max-width: 58.33333%;
   flex-basis: 58.33333%;
}
.col-8 {
   max-width: 66.66667%;
   flex-basis: 66.66667%;
}
.col-9 {
   max-width: 75%;
   flex-basis: 75%;
}
.col-10 {
   max-width: 83.33333%;
   flex-basis: 83.33333%;
}
.col-11 {
   max-width: 91.66667%;
   flex-basis: 91.66667%;
}
.col-12 {
   max-width: 100%;
   flex-basis: 100%;
}
/* @media screen and (min-width: 768px) and (max-width: 1279px) { */
/*si la pantalla es p<540 y p>0*/
@media screen and (max-width: 719px) {
   .sm\:row {
      /* box-sizing: border-box; */
      display: flex;
      flex: 0 1 auto;
      flex-flow: row wrap;
   }
   .sm\:col {
      /* box-sizing: border-box; */
      display: flex;
      /* flex-direction: column; */
      flex: 0 1 auto;
      flex-flow: column wrap;
   }
   .sm\:col-1 {
      max-width: 8.33333%;
      flex-basis: 8.33333%;
   }
   .sm\:col-2 {
      max-width: 16.66667%;
      flex-basis: 16.66667%;
   }
   .sm\:col-3 {
      max-width: 25%;
      flex-basis: 25%;
   }
   .sm\:col-4 {
      max-width: 33.33333%;
      flex-basis: 33.33333%;
   }
   .sm\:col-5 {
      max-width: 41.66667%;
      flex-basis: 41.66667%;
   }
   .sm\:col-6 {
      max-width: 50%;
      flex-basis: 50%;
   }
   .sm\:col-7 {
      max-width: 58.33333%;
      flex-basis: 58.33333%;
   }
   .sm\:col-8 {
      max-width: 66.66667%;
      flex-basis: 66.66667%;
   }
   .sm\:col-9 {
      max-width: 75%;
      flex-basis: 75%;
   }
   .sm\:col-10 {
      max-width: 83.33333%;
      flex-basis: 83.33333%;
   }
   .sm\:col-11 {
      max-width: 91.66667%;
      flex-basis: 91.66667%;
   }
   .sm\:col-12 {
      max-width: 100%;
      flex-basis: 100%;
   }
}
/*si la pantalla es p>720 y p<1199*/
@media screen and (min-width: 720px) {
   .md\:row {
      display: flex;
      flex: 0 1 auto;
      flex-flow: row wrap;
   }
   .md\:col {
      display: flex;
      flex: 0 1 auto;
      flex-flow: column wrap;
   }

   .md\:col-1 {
      max-width: 8.33333%;
      flex-basis: 8.33333%;
   }
   .md\:col-2 {
      max-width: 16.66667%;
      flex-basis: 16.66667%;
   }
   .md\:col-3 {
      max-width: 25%;
      flex-basis: 25%;
   }
   .md\:col-4 {
      max-width: 33.33333%;
      flex-basis: 33.33333%;
   }
   .md\:col-5 {
      max-width: 41.66667%;
      flex-basis: 41.66667%;
   }
   .md\:col-6 {
      max-width: 50%;
      flex-basis: 50%;
   }
   .md\:col-7 {
      max-width: 58.33333%;
      flex-basis: 58.33333%;
   }
   .md\:col-8 {
      max-width: 66.66667%;
      flex-basis: 66.66667%;
   }
   .md\:col-9 {
      max-width: 75%;
      flex-basis: 75%;
   }
   .md\:col-10 {
      max-width: 83.33333%;
      flex-basis: 83.33333%;
   }
   .md\:col-11 {
      max-width: 91.66667%;
      flex-basis: 91.66667%;
   }
   .md\:col-12 {
      max-width: 100%;
      flex-basis: 100%;
   }
}
@media screen and (min-width: 1200px) {
   .lg\:row {
      display: flex;
      flex: 0 1 auto;
      flex-flow: row wrap;
   }
   .lg\:col {
      display: flex;
      flex: 0 1 auto;
      flex-flow: column wrap;
   }
   .lg\:col-1 {
      max-width: 8.33333%;
      flex-basis: 8.33333%;
   }
   .lg\:col-2 {
      max-width: 16.66667%;
      flex-basis: 16.66667%;
   }
   .lg\:col-3 {
      max-width: 25%;
      flex-basis: 25%;
   }
   .lg\:col-4 {
      max-width: 33.33333%;
      flex-basis: 33.33333%;
   }
   .lg\:col-5 {
      max-width: 41.66667%;
      flex-basis: 41.66667%;
   }
   .lg\:col-6 {
      max-width: 50%;
      flex-basis: 50%;
   }
   .lg\:col-7 {
      max-width: 58.33333%;
      flex-basis: 58.33333%;
   }
   .lg\:col-8 {
      max-width: 66.66667%;
      flex-basis: 66.66667%;
   }
   .lg\:col-9 {
      max-width: 75%;
      flex-basis: 75%;
   }
   .lg\:col-10 {
      max-width: 83.33333%;
      flex-basis: 83.33333%;
   }
   .lg\:col-11 {
      max-width: 91.66667%;
      flex-basis: 91.66667%;
   }
   .lg\:col-12 {
      max-width: 100%;
      flex-basis: 100%;
   }
}

/* ORDER COLUM FLEX */
.order-1 {
   order: 1;
}
.order-2 {
   order: 2;
}
.order-3 {
   order: 3;
}
.order-4 {
   order: 4;
}
.order-5 {
   order: 5;
}
.order-6 {
   order: 6;
}
.order-7 {
   order: 7;
}
.order-8 {
   order: 8;
}
.order-9 {
   order: 9;
}
.order-10 {
   order: 10;
}
.order-11 {
   order: 11;
}
.order-12 {
   order: 12;
}
@media screen and (max-width: 719px) {
   /* ORDER COLUM FLEX */
   .sm\:order-1 {
      order: 1;
   }
   .sm\:order-2 {
      order: 2;
   }
   .sm\:order-3 {
      order: 3;
   }
   .sm\:order-4 {
      order: 4;
   }
   .sm\:order-5 {
      order: 5;
   }
   .sm\:order-6 {
      order: 6;
   }
   .sm\:order-7 {
      order: 7;
   }
   .sm\:order-8 {
      order: 8;
   }
   .sm\:order-9 {
      order: 9;
   }
   .sm\:order-10 {
      order: 10;
   }
   .sm\:order-11 {
      order: 11;
   }
   .sm\:order-12 {
      order: 12;
   }
}
@media screen and (min-width: 720px) {
   .md\:order-1 {
      order: 1;
   }
   .md\:order-2 {
      order: 2;
   }
   .md\:order-3 {
      order: 3;
   }
   .md\:order-4 {
      order: 4;
   }
   .md\:order-5 {
      order: 5;
   }
   .md\:order-6 {
      order: 6;
   }
   .md\:order-7 {
      order: 7;
   }
   .md\:order-8 {
      order: 8;
   }
   .md\:order-9 {
      order: 9;
   }
   .md\:order-10 {
      order: 10;
   }
   .md\:order-11 {
      order: 11;
   }
   .md\:order-12 {
      order: 12;
   }
}
@media screen and (min-width: 1200px) {
   .order-lg-1 {
      order: 1;
   }
   .order-lg-2 {
      order: 2;
   }
   .order-lg-3 {
      order: 3;
   }
   .order-lg-4 {
      order: 4;
   }
   .order-lg-5 {
      order: 5;
   }
   .order-lg-6 {
      order: 6;
   }
   .order-lg-7 {
      order: 7;
   }
   .order-lg-8 {
      order: 8;
   }
   .order-lg-9 {
      order: 9;
   }
   .order-lg-10 {
      order: 10;
   }
   .order-lg-11 {
      order: 11;
   }
   .order-lg-12 {
      order: 12;
   }
}
