@media print {
	#reportPdf {
		background-color: white;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		/* padding: 15px; */
		/* font-size: 14px; */
		/* line-height: 18px; */
	}
}
