/* .multiselect  input{
  background: transparent;
} */
.multiselect input:focus {
	border: 0px solid rgba(255, 255, 255, 0) !important;
	outline: none !important;
	outline-offset: 0px;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: transparent;
	background: transparent;
}

.multiselect .multiselect-dropdown .multiselect-option{
	padding: 0px!important;
}
.multiselect .multiselect-dropdown .is-selected{
	background-color: rgb(214, 228, 138);
}
.is-pointed{

}

/* multiselec */
/* .multiselect__tag{
  @apply bg-info;
}
.multiselect__tag .multiselect__tag-icon:after{
  @apply text-white;
} */

/* opciones */
/* .multiselect__option{
  @apply  hover:bg-info;
}
[data-role="data-deselect"] {
  @apply  hover:bg-info bg-info;
} */

/* .multiselect  .multiselect__option--selected multiselect__option{
  @apply hover:bg-info;
} */
/* .multiselect__tags {
    min-height: auto!important;
    display: block;
    padding: 0!important;
    border-radius: 0px !important;
    border: 0px solid transparent !important;
    background: transparent!important;
}
.multiselect {
  min-height: auto !important;
  height: 1.6rem!important;
}
.multiselect .multiselect__placeholder{
  padding-bottom: 0px!important;
} */
