/* scrolls e inspector de codigo*/
@import './_scrollBar.css';
@import './_alerts.css';
@import './_buttons.css';
@import './_forms.css';
@import './_card.css';
@import './_layouts.css';
@import './_animations.css';
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800);

*:focus {
  outline: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
/* @font-face {
   font-family: 'Nunito Sans';
} */

*{
  font-family: 'Nunito Sans', sans-serif;
}

/* animacion de carga */
.gudi\:lds-dual-ring {
   display: inline-block;
   width: 1.4rem;
   height: 1.4rem;
}
.gudi\:lds-dual-ring:after {
   content: ' ';
   display: block;
   width: 1.3rem;
   height: 1.3rem;
   border-radius: 50%;
   border: 0.3rem solid #fff;
   border-color: #fff transparent #fff transparent;
   animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
