@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 25 118 210;
        --color-secondary: 66 66 66;
        --color-success: 76 175 80;
        --color-info: 33 150 243;
        --color-warning: 255 193 7;
        --color-pending: 249 115 22;
        --color-danger: 255 82 82;
    }
}
