<template>
  <i class="mdi" :class="[color!=''?color:'', icon!=''?'mdi-'+icon:'mdi-adjust']"></i>
</template>

<script setup>
import {computed} from 'vue';
import { defineProps } from "vue";
//props que recibe
const props =  defineProps({
  icon: { type: String, required: true },
  color: { type: String, required: false, default: '' },
});
</script>

<style>

</style>
