<template>
	<!-- :class="[center_x?'items-center':'', center_y?'justify-center':'']" -->
	<div class="bg-opacity-60 bg-black flex flex-col overflow-y-auto
    w-full h-screen fixed z-50 top-0 left-0 p-1 sm:p-4 items-center" @click.self="emit('close')">
		<div class="w-full h-auto fade-in-down mt-0 sm:mt-20"
			:class="[size == 'sm' ? 'md:w-2/5' : size == 'md' ? 'md:w-3/5' : size == 'lg' ? 'md:w-5/6' : size = 'xl' ? 'md:w-11/12 sm:mt-10' : 'md:w-1/4']"
			@click.stop>
			<slot />
		</div>
	</div>
</template>

<script setup>
import { defineProps, defineEmits } from "vue";

//VARIABLES DE ENTRADA Y SALIDA
const props = defineProps({
	size: { type: String, default: 'sm' },
	center_x: { type: Boolean, default: true },
	center_y: { type: Boolean, default: false },
});
const emit = defineEmits(['close']);

</script>

<style scope>
.u\:bg-modal-transparent {
	background-color: rgba(0, 0, 0, 0.4);
}
</style>
